<h2>Create a graph</h2>

<table>
  <tr>
    <td>Graph text ID (optional): </td>
    <td><input type="text" id="text_id"></input></td>
  </tr>
  <tr>
    <td>Graph name: </td>
    <td><input type="text" id="graph_name"></input></td>
  </tr>
  <tr>
    <td>X axis label (e.g. time): </td>
    <td><input type="text" id="xaxis"></input></td>
  </tr>
  <tr>
    <td>Y axis label: </td>
    <td><input type="text" id="yaxis"></input></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" onclick=postWithAjax()></input></td>
  </tr>
<table>

<script>

function postWithAjax() {
  $.ajax({
    type: 'POST',
    url: '/graph',
    dataType: 'json',
    data: {
      'text_id': $('#text_id').val(),
      'title': $('#graph_name').val(),
      'xaxis': $('#xaxis').val(),
      'yaxis': $('#yaxis').val()
    },
    success: function(data) {
      window.location.replace(data.url);
    },
    error: function(xhr, textStatus, errorThrown) {
      alert(textStatus + ', ' + errorThrown)
      //$('body').html(xhr.responseText);
    }
  });
}

</script>