<h2>Create a graph</h2>

<p>Graph text ID (optional): <input type="text" id="text_id"></input></p>
<p>Graph name: <input type="text" id="graph_name"></input></p>
<p>X axis label (e.g. time): <input type="text" id="xaxis"></input></p>
<p>Y axis label: <input type="text" id="yaxis"></input></p>
<p><input type="submit" onclick=postWithAjax()></input></p>

<script>

function postWithAjax() {
  $.ajax({
    type: 'POST',
    url: '/graph',
    dataType: 'json',
    data: {
      'text_id': $('#text_id').val(),
      'title': $('#graph_name').val(),
      'xaxis': $('#xaxis').val(),
      'yaxis': $('#yaxis').val()
    },
    success: function(data) {
      window.location.replace(data.url);
    },
    error: function(xhr, textStatus, errorThrown) {
      alert(textStatus + ', ' + errorThrown)
      //$('body').html(xhr.responseText);
    }
  });
}

</script>